<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Jayesh/IdeaProjects/fitpio"><classes><class name="stepDefination.TestRevenueCalculator"><methods><include name="navigate_to_revenue_calculator_page"/><include name="user_scroll_down_to_the_slider_section"/><include name="adjust_the_slider_at_820"/><include name="update_the_text_field"/><include name="validate_slider_value"/><include name="select_cpt_codes_cpt_cpt_cpt_and_cpt"/><include name="validate_the_total_recurring_reimbursement"/></methods></class></classes></test></suite>